.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
	color: #a94442;
}
.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
#wrapChart {
	width: 500px;
	height: 500px;
	margin: auto;
}
#wrapChart_2 {
	width: 100%;
	margin: auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 30px;
    margin: auto;
    padding-top: 90px;
    background-color: rgba(255,255,255,0.7);
    border-radius: .35rem;


}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}

body.admin {
	background-image: url("http://happyelder.pe/uploads/F1.jpg");
 	background-size: cover;
}

body.admini {
	background-color: "#FFFFFF";
}

.form-signin .btn-lg{
	margin-top: 8px;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}
.sidebar .nav-link.active {
	color: #007bff;
}

p:last-child {
	margin-bottom: 0;
}
.bg-dark {
	background-color: #563d7c!important;
}

.input-group-addon {
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: .25rem;


	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	border-right: 0;
}



.card-body-icon {
  position: absolute;
  z-index: 0;
  top: -1.25rem;
  right: -1rem;
  opacity: 0.4;
  font-size: 5rem;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.flot-chart {
  display: block;
  height: 400px;
}
.flot-chart-content {
  width: 100%;
  height: 100%;
}