.has-error .checkbox, .has-error .checkbox-inline, .has-error .control-label, .has-error .help-block, .has-error .radio, .has-error .radio-inline, .has-error.checkbox label, .has-error.checkbox-inline label, .has-error.radio label, .has-error.radio-inline label {
	color: #a94442;
}
.has-error .form-control {
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}


.form-signin {
	width: 100%;
	max-width: 330px;
	padding: 15px;
	margin: auto;
}
.form-signin .checkbox {
	font-weight: 400;
}
.form-signin .form-control {
	position: relative;
	box-sizing: border-box;
	height: auto;
	font-size: 16px;
}
.form-signin .form-control:focus {
	z-index: 2;
}
body.admin {
	background-color: #f5f5f5;
	background-color: #ffffff;
}
.form-signin .btn-lg{
	margin-top: 8px;
}

.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
.sidebar .nav-link {
	font-weight: 500;
	color: #333;
}
.sidebar .nav-link.active {
	color: #007bff;
}

p:last-child {
	margin-bottom: 0;
}
.bg-dark {
	background-color: #563d7c!important;
}



.input-group-addon {
	padding: .375rem .75rem;
	margin-bottom: 0;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	text-align: center;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	border-radius: .25rem;


	border-top-right-radius: 0;
	border-bottom-right-radius: 0;

	border-right: 0;
}